html,body,a,input,li,p,.head,.side,.main{
	margin: 0px;
	padding: 0px;
}
.notxt{
	text-decoration: none;
}
.head{
	background-color: #2189bf;
	height: 77px;
	width: 100%;
	overflow: hidden;
}
.topicon{
	display: inline-block;
	margin-left: 50px;
	line-height: 77px;
}
select{
	background: transparent;
}
.input{
	background-image: url('../images/search-icon.png');
	background-position: 18px center;
	background-repeat: no-repeat;
	height: 30px;
	width: 315px;
	border-radius: 15px 15px 15px 15px;
}
#input{
	line-height: 77px;
	float: right;
}
.image-register{
	float: right;
	line-height: 77px;
	margin-left: 20px;
}
.register{
	color: white;
	float: right;
	line-height: 77px;
	margin-left: 4px;
	margin-right: 95px;
}
.content{
	background-color: #ededec; 
	margin: 0px;
	padding: 0px;
}
.side{
	float: left;
	background-color: #2a2e3d; 
	width: 260px;
	height: 1250px;
}
.main{
	height: 1210px;
	margin-left: 260px;
}
.circle1{
	display: inline-block;
	width: 56px;
	height: 56px;
	border-radius: 28px;
	border: 3px #b9babe solid;
	margin-top: 20px;
	margin-bottom: 20px;
	vertical-align: middle;
}
#user{
	text-align: center;
}
.circle2{
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin:auto;
	margin-top: 4px;
	background-color: #b9babe; 
}
.ABC123{
	display: inline-block;
	color: #f6f5f5;
	margin-left: 18px;
	vertical-align: middle;
	font-family: 黑体;
	font-size:16px;
}
.num110{
	color: #6e8095;
	font-family: 黑体;
	font-size: 16px;
}
.num313{
	color: #6e8095;
	font-size: 16px;
	font-family: 黑体;
}
.num1{
	display: inline-block;
	margin-top: 3px;
	margin-bottom: 3px;
	vertical-align: middle;
}
.num2{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}
.collection{
	color: #6e8095;
	font-size: 12px;
	font-family: 宋体;
}
hr{
	display: inline-block;
	width: 2px;
	height: 30px;
	background-color: #323647;
	margin-left: 30px;
	border:none;
	vertical-align: middle;
}
.centerbox{
	background-color: #383d4e;
	width: 260px;
	margin-left: 0px;
	padding-top: 4px;
	padding-bottom:4px; 
	margin-top: 20px;
}
.personalform{
	margin-top: 10px;
}
.side_icon1{
	display: inline-block;
	height: 13px;
	width: 13px;
	border:none;
	margin-left: 45px;
}
.personal_form{
	display: inline-block;
	font-family: 黑体;
	font-size: 12px;
	color: #e4e4e6;	
}
.file_1{
	margin-top: 15px;
}
.side_icon2{
	display: inline-block;
	margin-left: 70px;
	height: 13px;
	width: 10px;
}
.side_icon4{
	display: inline-block;
	margin-left: 8px;
	height: 13px;
	width: 13px;
}
.file1{
	display: inline-block;
	margin-left: 6px;
	font-family: 黑体;
	font-size: 12px;
	color: #6e8095;	
}
.file_2{
	margin-left: 68px;
	margin-top: 15px;
}
.side_icon3{
	display: inline-block;
	height: 13px;
	width: 10px;
}
.image_file2{
	display: inline-block;
	margin-left: 6px;
	height: 13px;
	width: 10px;
}
.file2{
	display: inline-block;
	margin-left: 6px;
	font-family: 黑体;
	font-size: 12px;
	color: #ededef;	
}
.doc1st{
	margin-top: 15px;
	margin-left: 100px;
}
.image_doc1{
	display: inline-block;
	height: 13px;
	width: 10px;
}
.doc1{
	display: inline-block;
	margin-left: 5px;
	font-family: 黑体;
	font-size: 12px;
	color: #ededef;
}
.doc_1st{
	margin-left: 100px;
	margin-top: 15px;
}
.image_doc_1{
	display: inline-block;
	height: 13px;
	width: 10px;
}
.doc_1{
	margin-left:5px;
	display: inline-block;
	font-family: 黑体;
	font-size: 12px;
	color: #6e8095;
}
.file_3{
	margin-top: 15px;
	margin-left: 70px;
}
.side_icon2_2{
	display: inline-block;
	height: 13px;
	width: 13px;
}
.side_icon4_2{
	margin-left: 6px;
	display: inline-block;
	height: 13px;
	width: 13px;
}
.centerbox select{
	background-color: transparent;
}
.file3{
	margin-left: 6px;
	display: inline-block;
	font-family: 黑体;
	font-size: 12px;
	color: #6e8095;
}
._share{
	margin-top: 35px;
}
.image_share{
	display: inline-block;
	width: 12px;
	height: 12px;
}
.share{
	display: inline-block;
	margin-left: 15px;
	font-family: 黑体;
	font-size: 12px;
	color: #6e8096;
}
.part1{
	margin-top: 0px;
	margin-left: 0px;
	padding: 10px 20px;
	background-color: #ffffff;
}
.part1_1{
	display: inline-block;
	margin-left: 30px;
	font-family: 黑体;
	font-size: 12.28px;
	color: #cfcfcf;
}
.part1_2{
	display: inline-block;
	margin-left: 4px;
	font-family: 黑体;
	font-size: 12.28px;
	color: #99b7d3;
}
.sheet{
	background-color: #ffffff;
	display: inline-block;
	margin-top:20px;
	padding: 15px 20px;
	margin-left: 60px;
	margin-right: 70px;
	width: 850px;
	height: 55px;
}
._search{
	display: inline-block;
	vertical-align: top;
}
.search{
	margin-bottom: 6px;
	font-family: 黑体;
	font-size:12px;
	color: #aaaaaa; 
}
.DTPS .search{
	margin-left: 15px;
}
._sale{
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}
#change{
	display: inline-block;
	background-image: url("../images/change.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 30px;
	margin-left: 0px;
	color: #ffffff;
	line-height: 40px;
	text-align: right;
	font-size: 13px;
	padding-right: 5px;
	padding-left: 0px;
}
.DTPS{
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
}
.DT{
	margin-bottom: 6px;
}
.select1{
	width: 120px;
}
.select2{
	width: 70px;
}
.select3{
	width: 116px;
}
.button{
	font-family: 黑体;
	font-size: 12px;
	color: #ffffff;
	margin-left: 130px;
}
.sheet button{
	margin-left: 30px;
}
button{
	background-color: #388bc2;
	width: 50px;
	height: 27px;
	margin-top: 10px;
	margin-bottom: 10px;
	border:none;
	vertical-align: middle;
}
.quotation{
	width: 890px;
	height: 65px;
	margin: 13px 60px;
	padding: 0px;
}
.part3_1{
	display: inline-block;
	width: 30px;
	background-color: #ffffff;
	height: 65px;
	margin-right: 5px;
	vertical-align: middle;
	line-height: 65px;
	text-align: center;
}
.quotation .pric{
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	width: 110px;
	height: 65px;
	background-color: #ffffff;
}
.part3_2_1{
	margin-top: 0px;
	background-color: #4388c8;
	width: 110px;
	height: 4px;
}
.part3_3{
	display: inline-block;
	width: 130px;
	height: 65px;
	margin-right: 4px;
	line-height: 65px;
	vertical-align: middle;
	background-color: #ffffff;
}
.time{
	display: inline-block;
	margin-top: 12px;
	font-family: 微软雅黑;
	font-size: 12px;
}
.time_1{
	display: inline-block;
	margin-top: 8px;
	font-family: 微软雅黑;
	font-size: 12px;
}
.RMB{
	text-align: center;
}
.rmb{
	margin-right: -8px;
	display: inline-block;
	color: #abaaaa;
}
.rmb_num{
	display: inline-block;
	color: #ec6500;
	font-size: 21px;
	font-family: 微软雅黑;
}
.image_part3_3{
	display: inline-block;
}
.image_part3_3 img{
	display: inline-block;
	vertical-align: middle;
}
.history{
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	font-family: 微软雅黑;
	font-size: 12px;
	color: #535353;
}
.statistic{
	margin: 22px 60px;
	padding: 0px;
	height: 90px;
	width: 890px;
}
.sta_box{
	display:inline-block; 
	width: 200px;
	height: 70px;
	background-color: #ffffff;
	margin-right: 22px;
}
.yel{
	margin-right: 0px;
}
.sta_box .bar{
	vertical-align: middle;
	display: inline-block;
	width: 4px;
	height: 70px;
}
.green{
	background-color: #43b29d;
}
.num_deal{
	display: inline-block;
	vertical-align: middle;
}
.sta_box .num{
	font-size: 12px;
	font-family: 黑体;
}
.sta_box .deal{
	font-size: 10px;
	font-family: 黑体;
	color:#aaaaaa;
}
.sta_box .box{
	margin-left: 65px;
	display: inline-block;
	width: 60px;
	height: 48px;
	vertical-align: middle;
}
.blue{
	background-color: #388ace;
}
.re{
	background-color: #cf4a36;
}
.yello{
	background-color: #e2cd47;
}
p{
	font-size: 12px;
	font-family: 微软雅黑;
	margin-bottom: 6px;
}
.pro_form{
	margin: 15px 60px;
	width: 890px;
	height: 360px;
}
.proj{
	vertical-align: middle;
	background-color: #ffffff;
	display: inline-block;
	width: 530px;
	height: 360px;
	border-radius: 8px;
}
._1st_pro{
	border-radius:8px 8px 0px 0px; 
	height: 40px;
	background-color: #f4f5f7;
	font-size: 12px;
	font-family: 黑体;
	color: #aaaaaa;
	line-height: 40px;
}
.big_box{
	border: 1px groove;
	border-radius: 0px 5px 5px;
	margin: -2px 20px;
	width: 490px;
	height: 250px;
}
.project{
	display: inline-block;
	font-size: 12px;
	font-family: 微软雅黑;
	background-color: #ededf0;
	border-radius: 6px 6px 0px 0px;
	line-height: 27px;
	text-align: center;
	margin-top: 14px;
	width: 80px;
	height: 26px;
}
.box1{
	position: absolute;
	margin-left: 20px;
	width: 80px;
	height: 27px;
	margin-top:14px; 
	line-height: 27px;
	border:1px groove;
	background-color: #ffffff;
	display: inline-block;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	border-radius: 6px 6px 0px 0px;
	text-align: center;
	border-bottom-style: none;
}
.box3{
	margin-left: 110px;
	margin-top: 10px;
	margin-bottom: 2px;
}
.box2{
	margin-left: 0px;
}
table,td{
	margin: 30px;
	border: 1px solid;
	border-style: groove;
	border-collapse: collapse;
	font-size: 12px;
	font-family: 宋体;
	color: #535353;
	text-align: center;
}
.table4 td{
	padding: 8px 15px; 
}
.table3 td{
	padding: 5px 10px; 
}
.td{
	background-color: #f4f5f6;
}
.form{
	vertical-align: middle;
	background-color: #ffffff;
	display: inline-block;
	height: 360px;
	width: 350px;
	margin-left: 2px;
	border-radius: 8px;
}
.title{
	margin-top: 15px;
	margin-left: 50px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #c3c2c2;
}
.form3{
	margin-left: 50px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
	margin-bottom: -20px;
}
.price{
	border-left-style: hidden;
	border-bottom-style: hidden;
	padding: 3px 60px 3px 15px;
	font-family: 微软雅黑;
	color: #c3c2c2;
}
.duty{
	border-bottom-style: hidden;
	border-right-style: hidden;
	padding: 8px 125px 4px 15px;
	font-family: 微软雅黑;
	color: #c3c2c2;
}
.rmb158{
	border-left-style: hidden;
	padding: 3px 60px 3px 15px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
}
.littleA{
	border-right-style: hidden;
	padding: 3px 140px 3px 13px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353;
}
.description{
	border-left-style: hidden;
	border-right-style: hidden;
	padding: 3px 215px 3px 13px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #c3c2c2; 
}
.now{
    border-left-style: hidden;
	border-right-style: hidden;
	border-top-style: hidden;
	padding: 3px 140px 100px 13px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #535353; 	
}
.agree{
	display: inline-block;
	margin-left: 40px;
	font-size: 12px;
	font-family: 微软雅黑;
	color: #c3c2c2;
}
.part6_3{
	margin-top: -30px;
}
.cal_rank{
	margin: 15px 60px;
	width: 890px;
	height: 355px;
}
.calendar{
	vertical-align: middle;
	background-color: #ffffff;
	display: inline-block;
	border-radius: 8px;
	width: 350px;
	height: 355px;
}
.year{
	font-size: 12px;
	font-family: 黑体;
	color: #535353;
}
.calendar .date{
	text-align: center;
}
.day{
	margin-left: 2px;
	font-size: 12px;
	font-family: 黑体;
	color: #535353;
}
.month{
	margin-left: 2px;
	width: 80px;
	text-align: center;
	font-size: 12px;
	font-family: 黑体;
	color: #535353;
}
.button3{
	margin-left: 2px;
	background-color: #ffffff;
	width: 68px;
	height: 22px;
	border:1px groove;
	font-size: 12px;
	font-family: 黑体;
	display: inline-block;
	color: #535353;
}
.ranklist{
	vertical-align: middle;
	background-color: #ffffff;
	display: inline-block;
	border-radius: 8px;
	height: 355px;
	width: 530px;
	margin-left: 2px;
}
.pb{
	display: inline-block;
	width: 170px;
	height: 5px;
	background-color: #dddddd;
	margin-left: 25px;
}
.pb1{
	display: block;
	width: 140px;
	height: 5px;
	background-color: #ef907b;
}
.pb2{
	display: block;
	width: 120px;
	height: 5px;
	background-color: #ef804f;
}
.pb3{
	display: block;
	width: 105px;
	height: 5px;
	background-color: #f19e4f;
}
.pb4{
	display: block;
	width: 100px;
	height: 5px;
	background-color: #7ecaef;
}
.pb5{
	display: block;
	width: 88px;
	height: 5px;
	background-color: #7ecaef;
}
.pb6{
	display: block;
	width: 80px;
	height: 5px;
	background-color: #7ecaef;
}
.pb7{
	display: block;
	width: 75px;
	height: 5px;
	background-color: #7ecaef;
}
.pb8{
	display: block;
	width: 65px;
	height: 5px;
	background-color: #7ecaef;
}
.pb9{
	display: block;
	width: 60px;
	height: 5px;
	background-color: #7ecaef;
}
.pb10{
	display:block;
	width: 55px;
	height: 5px;
	background-color: #7ecaef;
}
.table3{
	margin: 20px 45px;
}
.table2{
	margin: 5px auto ;
	width: 300px;
	height: 200px;
	padding: 0px; 
	border-style: none;
	border-collapse: separate;
}
.rating{
	width: 30px;
}
.brand{
	width: 90px;
}
#week span{
	display: inline-block;
	margin: 5px 12.8px;
}
#week{
	width: 300px;
	margin: 6px 20px; 
	border: 2px solid;
	border-style: groove;
	border-collapse: collapse;
	border-right-style: hidden;
	border-left-style: hidden;
	border-top-color: #a9cfec;
	border-bottom-color: #ececed;
}
.red{
	color: #cd3539;
}
.table2 td{
	border-collapse: separate;
	border-spacing: 9px;
	border-style: none;
}
.table2 #yellow{
	border:5px;
	padding: 5px; 
	border: 1px solid;
	border-style: groove;
	border-color: #f5c52a;
	
}